[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "guix.install"]
	path = guix.install
	url = https://github.com/bimsbbioinfo/guix.install
[submodule "mergen"]
	path = mergen
	url = https://github.com/bimsbbioinfo/mergen
