[submodule ".registry"]
	path = .registry
	url = https://github.com/bimsbbioinfo/bimsbbioinfo.r-universe.dev
	branch = HEAD
[submodule "HDF5DataFrame"]
	path = HDF5DataFrame
	url = https://github.com/BIMSBbioinfo/HDF5DataFrame
[submodule "ImageArray"]
	path = ImageArray
	url = https://github.com/BIMSBbioinfo/ImageArray
[submodule "VoltRon"]
	path = VoltRon
	url = https://github.com/BIMSBbioinfo/VoltRon
[submodule "VoltRonStore"]
	path = VoltRonStore
	url = https://github.com/BIMSBbioinfo/VoltRonStore
[submodule "ZarrDataFrame"]
	path = ZarrDataFrame
	url = https://github.com/BIMSBbioinfo/ZarrDataFrame
